body {
    background-color: #353b48;
    color: #dcdde1;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Product Sans Black'), local('ProductSans-Black'), url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShdlPCbT2lB.woff2) format('woff2');
}
.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300px;
    font-family: 'Product Sans';
    animation: rainbow 8s ease infinite;
    position: relative;
    top: 40%;
    text-decoration: none;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}
#nav a {
    position: fixed;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: 'Product Sans';
}

#home-nav a {
    position: fixed;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: 'Product Sans';
}

#home-nav span {
    position: fixed;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: 'Product Sans';
}

#nav a:hover {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Product Sans';
    animation: rainbow 8s ease infinite;
    text-decoration: none;
}

#home-nav a:hover {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Product Sans';
    animation: rainbow 8s ease infinite;
    text-decoration: none;
}

.apps {
    display: inline-flex;
    max-height: 69px;
    border: 1px;
    border-color: dimgrey;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.apps a {
    text-decoration: none;
    color: lightgrey;
    font-family: 'Product Sans';

}

.apps a:hover {
    color: rgb(126, 125, 125);
}

.apps div {
    padding: 5px, 5px, 5px, 5px;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Product Sans', sans-serif;
    color: grey;
    text-align: center;
}

hr {
    height: 2px;
    color: dimgrey;
    background-color: dimgrey;
    border: none;
    border-color: dimgrey;
}

#clicks {
    position: fixed;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: 'Product Sans';
    bottom: 5px;
    right: 5px;
    display: none;
    user-select: none;
}

#follower {
    border: none;
    user-select: none;
}

#info span {
    position: fixed;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: 'Product Sans';
}

#info a {
    position: fixed;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: 'Product Sans';
}

#info span:hover {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Product Sans';
    animation: rainbow 8s ease infinite;
    text-decoration: none;
}

#info a:hover {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Product Sans';
    animation: rainbow 8s ease infinite;
    text-decoration: none;
}

#repo-link {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

#separator {
    position: fixed;
    left: 190px;
    bottom: 5px; 
}

#fork-link {
    position: fixed;
    left: 205px;
    bottom: 5px;
}

#projects {
    left: 5px;
    top: 5px;
}

#separator-2 {
    left: 90px;
    top: 5px;
}

#profile-link {
    left: 102.5px;
    top: 5px;
}

#websh {
    position: relative; 
    float: left;
}

#styleprompt {
    position: relative;
    float: left;

}

#update {
    position: relative;
    float: left;

}